@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: Inter, Inter Fallback;
}

* {
  outline: none;
  box-sizing: border-box;
}

.bannerhome {
  background-image: url("./assets/Home/Homeimg.webp");
  background-size: cover;
}

.bannerabout {
  background-image: url("./assets/About/AboutBanner.webp");
  background-size: cover;
}

.bannercontact {
  background-image: url("./assets/Contact/ContactBanner.webp");
  background-size: cover;
}

.close-clip-custom {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.open-clip-custom {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
